.button{
	-fx-background-color:rgb(153,242,125);
	
}

.button:hover{
	-fx-text-fill: rgb(0,0,0);
	-fx-background-color:rgb(232,196,69);
}

.button:pressed{
	-fx-background-color:rgb(147,138,105);
}

.label{
	-fx-background-color:rgb(237,247,234);
}